<head>
<link rel = "stylesheet" href = "scrape.scss" />
</head>
 

<body> 

<div class="navbar">
  <a href="#DENEVE">De Nevo</a>
  <a href="#FEAST">Feasto</a>
  <a href="#BPLATE">Bplato</a>
  <a href="#COVEL">Covel</a>
</div>

<h1> Harpee </h1>


<div class="slide-left">
<p>See any food you love?</p>

<!-- Sends email when you click YES -->
<a href="/send_mail"> YES </a>

</div>
<p>
Submit your Email to be notified of good food!
</p>
<form id="form" class="topBefore" action = 'scrape/sendMail'>
		
		  <input id="name" type="text" placeholder="NAME">
		  <input id="email" type="text" placeholder="E-MAIL">
<hr>
  <input id="submit" type="submit" value="Send Me Food!">
  
</form>

</div>
<body> 







<% @headers.each do |x| %>
<% break if @counter > 0 && x.css("h3.col-header").text == @firstTitle %>
    <p><strong><%= x.css("h3.col-header").text %></strong> </p>
       <%= x.css("a.recipelink").each do |y| %>
           <p> <%= y.text %> </p>
       <% end %>
    <p>================</p>
<%= @counter+= 1 %>
  
<% end %>