
<html> 
<head>

</head>
 <link rel = "stylesheet" href = "scrape.scss" />
<h1> Food Menu for Covel </h1>
<body> 

<p>
This is an email link:
<a href="MatthewJi12345@gmail.com" target="_top">Send Mail</a>
</p>
<p>See any food you love? <3</p>
<p>
come enjoy the mediterannean food listed below
</p>
<p>
Organic Free Range Caged Chicken
</p>

<p>
Carb up with us
</p>
<body> 

<% @foods.each do|x| %>
<p><%= x.text %></p>
<% end %>

</body>
</html>