

</head>
 <link rel = "stylesheet" href = "scrape.scss" />

<body> 
<div class="navbar">
  <a href="#url">De Nevo</a>
  <a href="#url">Feasto</a>
  <a href="#url">Bplato</a>
  <a href="#url">Covel</a>
</div>

<h1> Harpee </h1>


<div class="slide-left">
<p>See any food you love?</p>
</div>
<p>
Submit your Email to be notified of good food!
</p>
<form id="form" class="topBefore">
		
		  <input id="name" type="text" placeholder="NAME">
		  <input id="email" type="text" placeholder="E-MAIL">
<hr>
  <input id="submit" type="submit" value="GO!">
  
</form>
<body> 



<% @foods.each do|x| %>
<p><%= x.text %></p>
<% end %> %>