

</head>
 <link rel = "stylesheet" href = "scrape.scss" />

<body> 
<div class="navbar">
  <a href="#home">De Nevo</a>
  <a href="#news">Feasto</a>
  <a href="#news">Bplato</a>
  <div class="dropdown">
    <button class="dropbtn">Covel
      <i class="fa fa-caret-down"></i>
    </button>

  </div> 
</div>

<h1> Harpee </h1>


<div class="slide-left">
<p>See any food you love?</p>
</div>
<p>
Come enjoy the mediterannean food listed below
</p>
<form id="form" class="topBefore">
		
		  <input id="name" type="text" placeholder="NAME">
		  <input id="email" type="text" placeholder="E-MAIL">
<hr>
  <input id="submit" type="submit" value="GO!">
  
</form>
<body> 



<% @foods.each do|x| %>
<p><%= x.text %></p>
<% end %> %>